div {
    width: 200px;
    height: 200px;
    border: 1px solid blueviolet;
    background-image: url('https://media.istockphoto.com/id/992637094/photo/british-short-hair-cat-and-golden-retriever.jpg?s=1024x1024&w=is&k=20&c=qZRJfoo8IGqjUBxaRUArkd9-PVHxfnxI4ymr1aDWOl0=');
}